@keyframes inputIntermitente {
    from {opacity: 1;}
    to {opacity: 0;}
  }
.container{
    background-color: red;
}
#cli{
    width: 1000px;
    height: 500px;
    background-color: black;
    position: fixed;
    display: none;
    overflow: auto;
    /* Para que esté centrado*/
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
}
.span-intermitente{
    background-color: white;
    /*Animacion*/
    animation-name: inputIntermitente;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}